@media (min-width: 481px ){
    .container-cards{
        flex-wrap: wrap;
    }
}



/* TELAS MENORES/LAPTOPS */

@media (min-width: 769px) {
    #list-menu {
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: visible;
        overflow-y: visible;
        font-size: 1.2rem;
        border: 0;
        
    }

    #list-menu a{
        margin: 0 1rem;
    }

    .botao-menu {
        display: none;
    }
    
    #list-menu li {
        padding: 0;
        border-bottom: 0;
    }
    
    .home-left {
        width: 90%;
    }
    
    
    
    .home-right{
        display: flex;
    }

    #projetos h2,
    .sobre h2,
    .skills h2 {
        margin-bottom: 35px;
    }


    .container-cards{
        max-width: 80%;
        flex-direction: row;
    }

    .about-content {
        width: 55%;   
    }

    .card{
        width: 50%;
    }

    .skill-container{
        width: 80%;
        flex-direction: row;
        align-items: center;      
    }

    .container-tech{
        flex-direction: row; 
        min-width: 400px; 
        max-width: 480px;   
    }

    .skill{
        height: 90px;
        width: 95px;
    }

    .skill-title{
        font-size: 1.5rem;
    }
}

/* DESKTOPS */

@media (min-width: 1025px) {
    header {
        height: 100px;
    }

    header a {
        font-size: 22px;
    }

    .home {
        padding: 8rem 0;
    }

    .home-left, .name{
        text-align: left;        
    }
    
    .home-left{
        width: 30%;
    }

    .principal-button{
        justify-content: flex-start;
    }

    .github-Button{
        height: 70px;
    }

    .github-Button p{
        font-size: 1.5rem;
    }


    .container-button-linkedin img,
    .container-button-contato img{
        width: 25px;
        margin-left: 15px;
    }

    

    .container-button-linkedin,
    .container-button-contato{
        width: 170px;
        height: 60px;
        font-size: 18px;
    }

    
    
}
