* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;   
    scroll-behavior: smooth;
}

body{
    background-color: #171717;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 12%;
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: #171717;
    
}


a {
    text-decoration: none;
}


.logo {
    font-size: 1.5rem;
    color: #00DF5E;
}


.home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 22% 0;
    color: #81D8F7;
    min-height: 85vh;
}

.home-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-left p{
    font-size: 2.31rem;
}

.name {
    text-transform: uppercase;
    font-size: 2.31rem;
    margin: 10px 0;
    color: #E8E6E3;
}



.job{
    font-size: 1rem;
    color: #00DF5E;
    font-weight: bolder;
}

.home-right {
    display: none;
}

.home-right img{
    animation: float 2.1s infinite;
}


.section-aboutMe,
.section-projects,
.section-skills{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 400px;
    padding: 1.5rem 2.3rem;
}

.about-content{
    width: 90%;
    color: #C4C4C4;
    margin: 1rem auto;
    line-height: 1.2rem;
    letter-spacing: 0.050rem;
}


.container-projects,
.section-skills {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.github-Button p {
    margin: 5px 0;
    font-size: 20px;
}


.home-button {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

}

.github-Button {
    padding: 10px 5px 10px;
    width: 200px;
    height: 59px;
    border-radius: 10px;
    border: 2px solid #00DF5E;
    opacity: 0;
}

.github-Button,
.container-button-linkedin,
.container-button-contato {
    display: flex;
    align-items: center;
    font-weight: bold;
    transition: 0.3s;
}

.github-Button:hover,
.container-button-contato:hover,
.container-button-linkedin:hover,
.vermais-Button:hover,
.viewMore-projects:hover  {
    background-color: #272727;
    text-shadow: 1px 1px 3px #00bbc5;
    transition: .3s;
}

.github-Button img {
    margin-left: 1.5rem;
    margin-right: 0.6rem;
    width: 33px;
}


.container-buttons {
    display: flex;
    max-width: 100%;
    min-width: 50%;
    gap: 15px;
    justify-content: space-around;
    margin: 2rem;

}


.container-button-linkedin,
.container-button-contato {
    padding: 3px 5px 5px;
    width: 140px;
    height: 45px;
    border-radius: 8px;
}


.container-button-linkedin {
    border: 1px solid #00DF5E;
}

.container-button-contato {
    border: 1px solid #00DF5E;
}

.vermais-Button {
    margin-top: 15px;
    text-align: center;
    border: 1px solid #00DF5E;
    padding: 10px;
    border-radius: 15px;
    width: 150px;
    cursor: pointer;
}


.container-button-linkedin img,
.container-button-contato p,
.container-button-contato img,
.github-Button p,
.github-Button img {
    padding: 9px 0 5px;
}

.container-button-linkedin p {
    padding: 11px 0 5px;
}

.container-button-linkedin p,
.container-button-contato p,
.github-Button p{
    color: #C4C4C4;
}


.container-button-linkedin img,
.container-button-contato img {
    width: 20px;
    margin-left: 5px;
    margin-right: 10px;
}


.container-projects,
.section-skills {
    flex-direction: column;
}

.container-projects{
    flex-wrap: wrap;
}

.section-aboutMe h2{
    margin-bottom: 0.8rem;
}

.section-aboutMe h2,
.section-projects h2,
.section-skills h2 {
    color: #00DF5E;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
}

.section-projects h2,
.section-skills h2{
    margin-bottom: 2.5rem;
}

.container-cards{
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    max-width: 90%;   
    gap: 35px;
    height: 40%;
    
}

.card{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    background-color: #1b1b1b;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.389);
    margin-bottom: 20px;
    width: 90%;
    min-width: 340px;
    max-width: 380px;
    max-height: 500px;
    min-height: 500px;
    border-radius: 25px;
}

.icon{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.icon img{
    width: 100%;
    border-radius: 10px;
}

.icon img:hover{
    transform: scale(103%);
    transition: .3s;
}

.content{
    height: 180px;
}


.content h3{
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    position: relative;
    color: #C4C4C4;
}

.content h3::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 70px;
    background-color: #00DF5E;
    bottom: -5px;
    border-radius: 100px;  
     
}

.content p{
    color: #b7b7b7;
    line-height: 1.3rem;
}

.used-techs-paragraph{
    color: #C4C4C4;
    margin-top: 20px;
    font-style: italic;
}

.used-techs{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 0.3rem;
    margin-bottom: 25px;
}

.used-techs li{
    background-color: #00DF5E;
    color: #030303;
    padding: 0.2rem 0.8rem;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 0.8rem;
    font-style: italic;
}

.container-buttons-card{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    
}

.button-card{
    background-color: #1b1b1b;
    border: 1px solid #00DF5E;
    border-radius: 5px;
    cursor: pointer;
    color: #C4C4C4;
    padding: 10px 1.8rem;
    width: 100%;
    
}

.button-card:hover{
    background-color: #00DF5E;
    color: #000;
    transition: .3s;
}

.viewMore-projects{
    margin-top: 20px;
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid #00DF5E;
    padding: 15px 40px;
    width: 150px;
    font-size: 14px;
    color: #C4C4C4;
    background-color: #121214;
}

.hidden{
    display: none;
}


.other-repositories{
    margin: 1.25rem 0;
    color: #b7b7b7;
}

.other-repositories:hover{
    color: #00DF5E;
    transition: 0.5s;
}

.skill-container{
    display: flex;
    flex-direction: column;
    max-width: 70%;
    min-width: 50%;
    max-height: 500px;
    margin-bottom: 3rem;
}

.skill-info{
   min-width: 50%;  
   margin-bottom: 0.8rem;
}

.skill-title{
    font-size: 1.2rem;
    color: #00DF5E;
    border-left: 3px solid #00DF5E;
    padding-left: 0.4rem;  
    margin-bottom: 1.2rem;
}

.skill-content{
    font-size: 1.1rem;
    color: #828282;
    margin-bottom: 1.4rem;
    max-width: 90%;
}

.container-tech{    
    min-width: 260px; 
    display: flex;
    flex-wrap: wrap;
    gap: 0.95rem;

}

.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    height: 70px;
    width: 70px;
    border-radius: 6.25rem;
    cursor: pointer;
    
}

.skill:hover,
.skill:focus{
    cursor: pointer;
    transform: translate(0, -10px);   
    transition: 0.3s;
    background-color: #FF20A1;
    filter: invert(100%);
}


.skill img {
    width: 50%;  
}


footer {
    text-align: center;
    padding: 2rem;
    background-color: #171717;
    color: #C4C4C4;
    
}

.footer-name{
    display: inline;
    color: #00DF5E;
}


footer span{
    display: block;
    margin-bottom: 0.7rem;
}

footer span a{
    color: #C4C4C4;
}

footer span a:hover{
    text-decoration: underline;
    filter: invert(25%);
    transition: .5s;
    
}


@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@keyframes float{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(0);
    }
}


@keyframes appear {
    from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
} 



