* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;   
    scroll-behavior: smooth;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 12%;
    border-bottom: 2px solid #202022ce;
    position: fixed;
    z-index: 1000;
    width: 100%;
}



a {
    text-decoration: none;
    color: #C4C4C4;
}

#list-menu {
    display: block;
    position: absolute;
    top: 55px;
    right: 0;
    z-index: 1000;
    height: 0px;
    list-style: none;
    gap: 0.7rem;
    transition: .9s;
    visibility: hidden;
    overflow-y: hidden;
    padding: 0;
    background-color: #121212;
    border-radius: 10px;
    border: 1px solid #81D8F7;
    padding: 0 15px;
    
}

#nav.active #list-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(26vh - 55px);
    visibility: visible;
    overflow-y: auto;
}

#list-menu a {
    color: #81D8F7;
    position: relative;
    padding-bottom: 3px;
}



#list-menu li {
    padding-bottom: 0.6rem;
    border-bottom: 1px solid #1C1C1C;
}

#list-menu a::after {
    content: ' ';
    width: 0%;
    height: 2px;
    background-color: #81D8F7;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s ease-in-out;
}

#list-menu a:hover::after{
    width: 100%;
}


.botao-menu {
    display: block;
    border-top: 2px solid #81D8F7;
    width: 20px;
    color: #81D8F7;
}

.botao-menu:after,
.botao-menu:before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.9s;
    position: relative;
}

#nav.active .botao-menu {
    border-top-color: transparent;
}

#nav.active .botao-menu:before {
    transform: rotate(135deg);
}

#nav.active .botao-menu:after {
    transform: rotate(-135deg);
    top: -7px;
}

.logo {
    font-size: 1.5rem;
    color: #81D8F7;
}


.home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 22% 0;
    color: #81D8F7;
    min-height: 85vh;
}

.home-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-left p{
    font-size: 2.31rem;
}

.name {
    text-transform: uppercase;
    font-size: 2.31rem;
    margin: 10px 0;
    color: #E8E6E3;
}

.name::after {
    content: "|";
    animation: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.home-left span{
    font-size: 1rem;
    color: #43cbfc;
    font-weight: bolder;
}


@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@keyframes float{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(0);
    }
}

.home-right {
    display: none;
}

.home-right img{
    animation: float 2.1s infinite;
}

header,
.home,
.sobre,
#projetos,
.section-skills{
    background-color: #121214;
}


.sobre,
.projects,
.section-skills{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 400px;
    padding: 1.5rem 2.3rem;
}

.about-content{
    width: 90%;
    color: #C4C4C4;
    margin: 1rem auto;
    line-height: 1.2rem;
    letter-spacing: 0.050rem;
}


.container-projects,
.section-skills {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.github-Button p {
    margin: 5px 0;
    font-size: 20px;
}


.principal-button {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

}

.github-Button {
    padding: 10px 5px 10px;
    width: 200px;
    height: 59px;
    border-radius: 10px;
    border: 2px solid #81D8F7;

}

.github-Button,
.container-button-linkedin,
.container-button-contato {
    display: flex;
    align-items: center;
    font-weight: bold;
    transition: 0.3s;
}

.github-Button:hover,
.container-button-contato:hover,
.container-button-linkedin:hover,
.vermais-Button:hover,
.verMais-projetos:hover  {
    background-color: #272727;
    text-shadow: 1px 1px 3px #00bbc5;
    transition: .3s;
}

.github-Button img {
    margin-left: 1.5rem;
    margin-right: 0.6rem;
    width: 33px;
}


.container-buttons {
    display: flex;
    max-width: 100%;
    min-width: 50%;
    gap: 15px;
    justify-content: space-around;
    margin: 2rem;

}

.container-buttons a,
.principal-button a,
.button-projetos a {
    text-decoration: none;
}

.container-button-linkedin,
.container-button-contato {
    padding: 3px 5px 5px;
    width: 140px;
    height: 45px;
    border-radius: 8px;
}


.container-button-linkedin {
    border: 1px solid #633BBC;
}

.container-button-contato {
    border: 1px solid #1DAE5B;
}

.vermais-Button {
    margin-top: 15px;
    text-align: center;
    border: 1px solid #1DAE5B;
    padding: 10px;
    border-radius: 15px;
    width: 150px;
    cursor: pointer;
}


.container-button-linkedin img,
.container-button-contato p,
.container-button-contato img,
.github-Button p,
.github-Button img {
    padding: 9px 0 5px;
}

.container-button-linkedin p {
    padding: 11px 0 5px;
}

.container-button-linkedin p,
.container-button-contato p,
.github-Button p{
    color: #C4C4C4;
}


.container-button-linkedin img,
.container-button-contato img {
    width: 20px;
    margin-left: 5px;
    margin-right: 10px;
}


.container-projects,
.section-skills {
    flex-direction: column;
}

.container-projects{
    flex-wrap: wrap;
}

#projetos h2,
.sobre h2,
.section-skills h2 {
    color: #81D8F7;
    margin-bottom: 35px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
}

#projetos h2{
    padding-top: 20px;
}

.container-cards{
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    max-width: 90%;   
    gap: 35px;
    height: 40%;
    
}

.card{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    background-color: #1b1b1b;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.389);
    margin-bottom: 20px;
    width: 90%;
    min-width: 360px;
    max-width: 400px;
    max-height: 500px;
    min-height: 500px;
    border-radius: 25px;
    
}

.icon{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.icon img{
    width: 100%;
    border-radius: 10px;
}

.icon img:hover{
    transform: scale(103%);
    transition: .3s;
}

.content{
    height: 180px;
}


.content h3{
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    position: relative;
    color: #C4C4C4;
}

.content h3::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 70px;
    background-color: #81D8F7;
    bottom: -5px;
    border-radius: 100px;  
     
}

.content p{
    color: #b7b7b7;
    line-height: 1.3rem;
}

.used-techs-paragraph{
    color: #C4C4C4;
    margin-top: 20px;
    font-style: italic;
}

.used-techs{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 0.3rem;
    margin-bottom: 25px;
}

.used-techs li{
    background-color: #00bbc5;
    color: #030303;
    padding: 0.2rem 0.8rem;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 0.8rem;
    font-style: italic;
}

.container-buttons-card{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    
}

.button-card{
    background-color: #1b1b1b;
    border: 1px solid #81D8F7;
    border-radius: 5px;
    cursor: pointer;
    color: #C4C4C4;
    padding: 10px 1.8rem;
    width: 100%;
    
}

.button-card:hover{
    background-color: #81D8F7;
    color: #000;
    transition: .3s;
}

.verMais-projetos{
    margin-top: 20px;
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid #00bbc5;
    padding: 15px 40px;
    width: 150px;
    font-size: 14px;
    color: #C4C4C4;
    background-color: #121214;
}

.hidden{
    display: none;
}


.other-repositories{
    margin-top: 15px;
    color: #b7b7b7;
}

.other-repositories:hover{
    color: #FFD700;
    transition: 0.5s;
}

.skill-container{
    display: flex;
    flex-direction: column;
    max-width: 70%;
    min-width: 50%;
    max-height: 500px;
    margin-bottom: 3rem;
}

.skill-info{
   min-width: 50%;  
   margin-bottom: 0.8rem;
}

.skill-title{
    font-size: 1.3rem;
    color: #f0dfdf;
    border-left: 3px solid #81D8F7;
    padding-left: 0.4rem;  
    margin-bottom: 1.2rem;
}

.skill-content{
    font-size: 1.1rem;
    color: #E8E6E3;
    margin-bottom: 1.4rem;
    max-width: 90%;
}

.container-tech{    
    min-width: 260px; 
    display: flex;
    flex-wrap: wrap;
    gap: 0.95rem;

}

.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3C4143;
    height: 70px;
    width: 70px;
    border-radius: 6.25rem;
    cursor: pointer;
    
}

.skill:hover,
.skill:focus{
    cursor: pointer;
    transform: translate(0, -10px);   
    transition: 0.3s;
    background-color: #ff4400;
    filter: invert(100%);
}


.skill img {
    width: 50%;  
}


footer {
    text-align: center;
    padding: 2rem;
    background-color: #1D2021;
    color: #C4C4C4;
    
}



footer span{
    display: block;
    margin-bottom: 0.7rem;
}

footer span a:hover{
    text-decoration: underline;
    filter: invert(25%);
    transition: .5s;
}


